* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {}

.todo-list {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: #fff;
}

.list-head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin: auto;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 0 0 5px 5px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.title {
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    color: #505050;
}

input,
button {
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #fff;
    font-size: 15px;
    font-weight: 500;
}

input {
    background-color: #fff;
    width: 70%;
    max-height: 10vh;
    margin: 5px 0;
    border: 2px solid #8e44ad;
    outline-color: #1cb65d;
    text-align: center;
}

button {
    background-color: #8e44ad;
    color: #fff;
    width: 20%;
    margin: 5px;
    font-size: 12px;
}

small {
    font-size: 8px;
}

ul {
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    max-height: 58vh;
    padding: 5px;
    overflow-y: scroll;
}

li {
    list-style-type: none;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
}

li h4,
p {
    margin: 5px 0 5px 8px;
    color: #202020;
    word-wrap: break-word;
}

p {
    font-size: 12px;
}

.task {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}


